
html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFF4FA;
}

.primaryhusen-color {
  background-color: #5F93CD;
  color: #FFFF;
}

.pemasukan-color {
  background-color: #A5F0C5;
  color: #035956;
}

.barang-color {
  background-color: #A3C9FE;
  color: #303C4C;
}

.pengeluaran-color {
  background-color: #EDCAC9;
  color: #C4504C;
}

.keuntungan-color {
  background-color: black;
  color: white;
}

.btn-primary, .btn-primary:hover {
  background-color: #5F93CD;
}

.welcome {
  background-color: #5F93CD;
  color: #FFFF;
  padding: 100px;
}

.login {
  padding: 150px;
}

.active {
  background-color: #5F93CD;
}
